@model Phocalstream_Web.Models.ViewModels.DmImportProc

<h2>Drought Monitor Data</h2>
<p>Currently, the Drought Monitor Data ranges from @Html.DisplayFor(model => model.StartDate) through @Html.DisplayFor(model => model.EndDate)</p>

<h3>Drought Monitor Import</h3>

@if (Model.Running)
{
    <span>Import is running!</span>
    <script type="text/javascript">
        setTimeout(function () { reloadDMPartial(); }, 10000);
    </script>
} 
else 
{
    <a id="dmImportCurrent" class="btn btn-default">Run Current Week</a>
    <a id="dmImportFull" class="btn btn-default">Run Full</a>
}

<script type="text/javascript">
    $(document).ready(function () {

        $('#dmImportCurrent').click(function () {
            $.ajax({
                url: '@Url.Action("StartDmImport", "Settings")',
                type: 'GET',
                cache: false,
                data: {
                    type: 'current'
                },
                success: function (data) {
                    $('#dmPartial').html(data);
                },
                error: function (err) {
                    alert(err.responseText);
                }
            });
        });

        $('#dmImportFull').click(function () {
            $.ajax({
                url: '@Url.Action("StartDmImport", "Settings")',
                type: 'GET',
                cache: false,
                data: {
                    type: 'full'
                },
                success: function (data) {
                    $('#dmPartial').html(data);
                },
                error: function (err) {
                    alert(err.responseText);
                }
            });
        });

    });
</script>