@model Phocalstream_Web.Models.ViewModels.WaterImportProc

<h2>Water and Stream Flow Data</h2>
<p>Currently, the Water and Stream Flow Data includes values through @Html.DisplayFor(model => model.EndDate)</p>

<h3>Water and Stream Flow Import</h3>

@if (Model.Running)
{
    <span>Import is running!</span>
    <script type="text/javascript">
        setTimeout(function () { reloadWaterPartial(); }, 10000);
    </script>
}
else
{
    <a id="waterImportCurrent" class="btn btn-default">Update Current Data</a>
    <a id="waterImportFull" class="btn btn-default">Reset All Data</a>
}

<script type="text/javascript">
    $(document).ready(function () {

        $('#waterImportCurrent').click(function () {
            $.ajax({
                url: '@Url.Action("StartWaterImport", "Settings")',
                type: 'GET',
                cache: false,
                data: {
                    type: 'current'
                },
                success: function (data) {
                    $('#waterPartial').html(data);
                },
                error: function (err) {
                    alert(err.responseText);
                }
            });
        });

        $('#waterImportFull').click(function () {
            $.ajax({
                url: '@Url.Action("StartWaterImport", "Settings")',
                type: 'GET',
                cache: false,
                data: {
                    type: 'full'
                },
                success: function (data) {
                    $('#waterPartial').html(data);
                },
                error: function (err) {
                    alert(err.responseText);
                }
            });
        });

    });
</script>