.DS_Store
ServiceConfiguration.Cloud.cscfg
Phocalstream/bin
Phocalstream/obj
Phocalstream_Web.Tests/bin
Phocalstream_Web.Tests/obj
Web.Release.config
Phocalstream_Web/bin
Phocalstream_Web/obj
packages
Phocalstream_Importer/Phocalstream_Importer/bin
Phocalstream_Importer/Phocalstream_Importer/obj
Phocalstream_Web/App_Data/DbConnection.mdf
Phocalstream_Web/App_Data/DbConnection_log.ldf
DeepZoomProcessor/bin
DeepZoomProcessor/obj
Phocalstream_Web/Properties/PublishProfiles/VM Deployment.pubxml
Phocalstream_Web/Properties/PublishProfiles/VM Deployment.pubxml.user
._.DS_Store
Phocalstream_Importer/._.DS_Store
Phocalstream_Importer/Phocalstream_Importer/app.config
Phocalstream_PivotView/Bin
Phocalstream_PivotView/obj
