@model Phocalstream_Web.Models.SearchResults

<script type="text/javascript">
    var viewers = new Array();
    var results = @Html.Raw(Json.Encode(Model.Results));
</script>

<h1>Results</h1>
@foreach (Phocalstream_Web.Models.SearchResult result in Model.Results)
{
    <div style="border: 1px solid #e1e1e1; width: 150px; height: 100px; float: left; margin-right: 20px; margin-bottom: 25px;" id="photo_@Html.DisplayFor(model => result.Photo.ID)">

    </div>
}

<script>
    $.each(results, function (i, result) {
        viewer = new Seadragon.Viewer("photo_"+result.Photo.ID);
        viewer.clearControls();
        viewer.tracker.clickHandler = function (tracker, position, quick, shift) {
            return;
        };
        viewer.tracker.scrollHandler = function(tracker, position, quick, shift) {
            return;
        };
        viewer.openDzi(result.ImageUrl);
        $("#photo_"+result.Photo.ID).click(function() { 
            $("#siteInfo").load("photo/photodetails?photoID="+result.Photo.ID);
        });
    });
</script>