@model Phocalstream_Web.Models.SearchModel

@{
    ViewBag.Title = "AdvancedSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdvancedSearch</h2>

<p>@Model.Date</p>

<br />
<br />

<p>@Model.Tags</p>