@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts
{
    <script type="text/javascript" src="http://seadragon.com/ajax/0.8/seadragon-min.js"></script>
}

<h2>Index</h2>

@using (Ajax.BeginForm("Search", new AjaxOptions() { UpdateTargetId = "results" }))
{
    <input type="text" name="query" />
    <input type="submit" value="Search" />
}

<div style="width: 100%; position: relative;">
    <div style="width: 80%; padding-right: 250px;">
        <div id="results"></div>
    </div>
    <div id="siteInfo" style="width: 250px; margin-top: 50px; position: fixed; top: 200px;">

    </div>
</div>