<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- The raw photo path .. DropBox folder on the server -->
    <add key="rawPath" value="C:/Users/ZachChristensen/Desktop/Archive/Phocalstream_Dev/TimeLapse/" />

    <!-- Base path for the Phocalstream file structure -->
    <add key="basePath" value="C:/Users/ZachChristensen/Desktop/Archive/Phocalstream_Dev/"/>

    <!-- The Photo, Download, and Search folders are within the basePath directory -->
    <add key="photoPath" value="Phocalstream/" />
    <add key="timelapsePath" value="TimeLapse/"/>

    <!-- TimeLapse stuff, all falls within BasePath / TimelapsePath -->
    <add key="magickPath" value="Dependency/ImageMagick-6.8.9-Q16/" />
    <add key="ffmpegPath" value="Dependency/ffmpeg/bin/" />
    <add key="outputPath" value="ServiceOutput/" />


  </appSettings>
  <connectionStrings>

    <add name="DbConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFileName=C:\Users\ZachChristensen\Documents\GitHub\Phocalstream\Phocalstream_Web\App_Data\Phocalstream.mdf;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add name="DMConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFileName=|DataDirectory|\DroughtMonitorData.mdf;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="WaterDBConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFileName=|DataDirectory|\WaterData.mdf;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>