<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="magickPath" value="C:/PhocalStream/ImageMagick-6.8.8-Q16" />
    <add key="ffmpegPath" value="C:\PhocalStream\Dependency\ffmpeg\bin" />
    <add key="outputPath" value="C:/PhocalStream/ServiceOutput" />
    <add key="photoPath" value="C:\PhocalStream\Phocalstream\Phocalstream_Web\App_Data\Photo_Data\Phocalstream\" />
    <add key="rawPath" value="C:\PhocalStream\Phocalstream\Phocalstream_Web\App_Data\Photo_Data\TimeLapse\" />

  </appSettings>
  <connectionStrings>

    <add name="DbConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFileName=|DataDirectory|\Phocalstream.mdf;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add name="DMConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFileName=|DataDirectory|\DroughtMonitorData.mdf;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="WaterDBConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFileName=|DataDirectory|\WaterData.mdf;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>