body {
}

/* User Profile */


/* User Collections */
.siteImage {
    z-index: -1;
}

.siteCaption {
    bottom: 45px;
    left: 15px;
    right: 15px;
    position: absolute;
    
    background: rgba(0, 0, 0, .5);
    color: white;
}

.siteDelete {
    top: 0px;
    right: 15px;
    position: absolute;

    background: rgba(0, 0, 0, .5);
    color: white !important;
}

.siteEdit {
    top: 0px;
    left: 15px;
    position: absolute;

    background: rgba(0, 0, 0, .5);
    color: white !important;
}

.siteCoverPhoto {
    top: 0px;
    left: 15px;
    position: absolute;

    color: white !important;
}

.siteToDelete {
    top: 0px;
    left: 15px;
    right: 15px;
    bottom: 30px;

    position: absolute;
    
    background: rgba(0, 0, 0, .8);
}

.text-white {
    color: white !important;
}

.siteColumn {
    padding-bottom: 30px !important;
}

.siteCollection {
    margin-top: 33px;
}

.row {
    margin-bottom: 15px;
}

.invisible {
    visibility: hidden;
}

.relative {
    position: relative;
}

.save-changes {
    top: 3px;
    right: 0px;
    position: absolute;
}

.publish {
    top: 3px;
    left: 0px;
    position: absolute;
}

/* User Photo Upload */
.total-progress {
    margin-bottom: 0px !important;
    margin-top: 7px !important;
}

#fileupload {
    display: none;
}

.upload-view {
    min-height: 177px;
    margin-bottom: 30px;
}

.upload-progress {
    margin-top: 78.5px !important;
}

.progress-label {
    text-align: center;
    color: black !important;
    margin-right: 5px;
}

/* User Camera Site */
.map-canvas {
    height: 300px; 
    width: 100%;
}

.create-or-label {
    margin-top: 8px;
}

/* Login Fail */
.login-fail-label {
    cursor: pointer;
    margin-bottom: 0px !important;
}
