body {
}

 .profile {
    width: 50%;
    margin-bottom: 20px;
    margin-left: 15px;
    font-size: 12pt;
}

/* User Profile */
.notice {
    color: #63dc30;
    font-weight: 500;
    font-size: 10pt;
    margin-bottom: 10px;
}

