body {
}


#mapcontainer {
    width: 100%;
    min-width: 300px;
    height: 400px;
    position: relative;
    margin-right: 300px;
}

.detailsSub {
    font-size: 14pt;
    font-weight: 200;
    margin-top: 15px;
}

#sitesContainer {
    padding-right: 330px;
    left: 0px;
    right: 0px;
    position: relative;
}

#imageContainer {
    height: 400px;
}

.imghead {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 140px;
}

/* Site and Tag List */

.siteImage {
    height: 100%;
    width: 100%;
    z-index: -1;
}

.siteCaption {
    bottom: 45px;
    left: 0px;
    right: 15px;
    position: absolute;
    
    margin-left: 15px;

    background: rgba(0, 0, 0, .5);
    color: white;
}

.siteColumn {
    padding-bottom: 30px !important;
}

.siteCollection {
    margin-top: 33px;
}

.mapSiteCaption {
    bottom: 15px;
    left: 0px;
    right: 15px;
    position: absolute;
    
    margin-left: 15px;

    background: rgba(0, 0, 0, .5);
    color: white;
}

/* Search Section*/
.bootstrap-tagsinput {
    line-height: 36px !important;
}

.label {
    font-size: 100% !important;
}

.row {
    margin-bottom: 15px;
}

a.btn:visited {
    color: white;
}

::-webkit-input-placeholder {
  color:    #808080;
}

input:-moz-placeholder {
  color:    #808080;
}

::-moz-placeholder {
  color:    #808080;
}

:-ms-input-placeholder {
  color:    #808080;
}

.btn-default {
    color: #333 !important;
}