body {
}

.title {
    color: #333;
}

.background {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
}

.shadow {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    opacity: 0.5;
    background-color: black;
}

.background-img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}

.container {
    vertical-align: middle;
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
}

.content {
    width: 100%;
    position: relative;
    z-index: 100;
    color: white;
}

label {
    color: white;
}

.search-row {
    margin-bottom: 25px;
}

input[type=checkbox] {
    visibility: hidden;
}

.sel-header {
    font-size: 20px;
    cursor: pointer;
}

.sel-subheader {
    cursor: pointer;
}

.selected {
    color: #5bc0de;
}

.padding-bottom {
    padding-bottom: 50px;
}

.search-results {
    margin: 0px !important;
    color: white !important;
}

.search-results-box {
    margin-top: 75px;
}

.search-image-save {
    position: absolute;
    bottom: 5px;
    right: 0px;
}

/* Search Navbar Fix */
.navbar {
    position: fixed;
}

/* Search Photo Wall */
#slider {
    margin-top: 4.5px;
    background-color: whitesmoke;
}

.ui-slider-handle {
    margin-top: 2.25px;
}

#img-size {
    padding-top: 0.3em !important;
}

.btn-disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.fit-width {
    margin: auto;
    max-width: 960px;
    padding-top: 50px;
}

.ul-holder {
    padding: 0px;
    overflow: auto;
}

.search-photo {
    float: left;
    list-style-type: none;
    padding: 0px !important;
    margin: 3px;
    position: relative;
}

.img-date {
    top: 0px;
    left: 0px;
    position: absolute;

    background: rgba(0, 0, 0, .5);
    color: white !important;
}
