body {
}

label {
    color: #aaa;
}

.row {
    margin-bottom: 0px;
}

input[type=checkbox] {
    display: none;
}

.sel-header {
    font-size: 20px;
    cursor: pointer;
}

.sel-subheader {
    cursor: pointer;
}

.selected {
    color: #5bc0de;
}

.padding-bottom {
    padding-bottom: 50px;
}

.search-results {
    color: black;
    font-size: 12px;
    margin: 0px !important;
}

.search-image-save {
    position: absolute;
    bottom: 5px;
    right: 0px;
}

/* Search Navbar Fix */
.navbar {
    position: fixed;
}

.search-photo {
    float: left;
    list-style-type: none;
    padding: 0px !important;
    margin: 3px;
    position: relative;
}

.img-date {
    top: 0px;
    left: 0px;
    position: absolute;

    background: rgba(0, 0, 0, .5);
    color: white !important;
}

.search-params {
    background-color: whitesmoke;
    border: 1px solid lightgray;

    width: 300px;

    position: absolute;
    top: 75px;
    left: 25px;

    padding: 10px;
}


#ul-holder {
    position: absolute;
    left: 330px;
    top: 72px;
    right: 0px;
    bottom: 0px;

    overflow-x: hidden;
    overflow-y: scroll;
}

.search-row {
    margin-bottom: 10px;
}

.featurette-divider {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: -10px;
    margin-right: -10px;
    border-top: 1px solid lightgray;
}

label.btn > input[type='radio'] {
    display: none;
}

.filter-label {
    margin-top: 4.5px;
    color: #555;
}

img.bordered { 
   border: 2px solid red;
}
