.row {
    margin-bottom: 15px;
}

#stage {
    width: 80%;
    min-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
}


#head {
    height: 100px;
    position: relative;
}

#head h1 {
    color: #2f2f2f;
    padding-top: 30px;
    position: relative; 
    left: -10px;
}

.logo {
    width: 110px;
    float: left;
}

a {
    color: #1560d7;
}

a:visited {
    color: #1560d7;
}

a.btn-default:visited {
    color: #333;
}

a.btn-primary:visited,
a.btn-success:visited,
a.btn-info:visited,
a.btn-warning:visited,
a.btn-danger:visited {
    color: white !important;
}

img {
    border: none;
}

th {
    text-align: left;
}

#siteInfo h1 {
    font-weight: 100;            
    font-size: 30pt;
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 0px;
}

h2 {
    font-weight: 300
}

#siteInfo h3 {
    font-weight: 300;
    font-size: 16pt;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#siteinfo ul {
    margin-top: 20pt;
    list-style: none;
    margin-left: 0px;
    padding-left: 30px;
}

#siteinfo li {
    font-size: 12pt;
}

.button-override {
    color: white !important;
}

.no-margin {
    margin: 0px !important;
}

.content {
    padding-top: 50px;
    min-height: 800px;
}

.full-width {
    width: 100%;
}

.index-navbar-right {
    margin-right: 15px !important;
}

.facebook-login {
    height: 30px;
    width: 140px;
    margin-top: 10px;
    margin-right: 15px;
}

/* Error Page */
.error-body {
    margin-top: 25px;
}

.error-image {
    width: 100%;
}