#controls {
    display: none;
    margin-top: 10px;
    position: absolute;
    bottom: 19px;
    right: 15px;
}

#imageCount {
    color: white;
    position: absolute;
    bottom: 19px;
    left: 15px;
}

#frameDate {
    font-size: 11pt;
    font-weight: 500;
    margin-bottom: 10px;
    min-height: 21px;
}

#loadDiv {
    color: white;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    position: absolute;
    top: 0px;
}

#video {
    position: relative;
    margin-top: 20px;
}

#open_container {
    margin-top: 10px;
}

.form-control[readonly] {
    cursor: pointer;
}