#controls {
    display: none;
    margin-top: 10px;
}

#frameDate {
    font-size: 11pt;
    font-weight: 500;
    margin-bottom: 10px;
}

#loadDiv {
    color: white;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    position: absolute;
    top: 0px;
}

#video {
    position: relative;
}

#open_container {
    margin-top: 10px;
}