@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Phocalstream</title>
    <style>
        body {
            background-color: black;
            color: white;
            font-family: Arial;
        }
    </style>
</head>
<body>
    <div>
        <h1>Phocalstream</h1>
    </div>
</body>
</html>
