@model Phocalstream_Web.Models.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home";
}

@section styles 
{
    <style>
        ul {
            list-style: none;
            padding: 0px;
            margin: 0px;
        }

        li {
            float: left; 
            width: 250px;
            font-weight: 100;
            font-size: 15pt;
            background: url('/Content/Images/Marker.png') no-repeat top left;
            height: 50px;
            padding-left: 50px;
            margin: 0px;
            padding-top: 8px;
        }
    </style>
}

<p>Welcome to the Phocalstream web site.  This site represents the first release of a project being 
    developed in partnership between the Robert B. Daugherty Water for Food Institute at the University of Nebraska and the
    Jeffrey S. Raikes School of Computer Science and Management.  The site will see regular updates
    over the next several months that will bring planned functionality.  In the mean time, the photo
    collections that we are building from the Platte River Time-Lapse Photography Project can be browsed below. 
</p>
<p>
    This project is being developed as an open source project.  Code can be found in our <a href="https://github.com/icotting/Phocalstream">Github repository</a>.
</p>
<h2>Photo Collection Sites</h2>
<ul class="two-columns clearfix">
    @foreach (var collection in Model.Collections)
    {
    <li><a href="photo/cameracollection?siteId=@collection.Site.ID">@collection.Name</a></li>
    }
</ul>