@model Phocalstream_Web.Models.ViewModels.CollectionViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Phocalstream</title>
    <style>
        body {
            background-color: black;
            color: white;
            font-family: Arial;
        }
    </style>
</head>
<body>
    <div>
        <h1>Phocalstream</h1>
        <ul class="two-columns clearfix">
            @foreach (var collection in Model.Collections)
            {
            <li>@collection.Name</li>
            }
        </ul>
    </div>
</body>
</html>
