@model Phocalstream_Web.Models.ViewModels.HomeViewModel

@{
    ViewBag.Title = "SiteList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/CSS/Home.css")

@section scripts
{
    <script type="text/javascript">
        var siteList = @Html.Raw(Json.Encode(Model.Collections));
    </script>

    <script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
    <script type="text/javascript" src="/Content/Scripts/SiteSelection.js"></script>
    <script type="text/javascript" src="/Content/Scripts/Silverlight.js"></script>
    <script type="text/javascript" src="/Content/Scripts/ClientBin.js"></script>
    <script type="text/javascript" src="http://seadragon.com/ajax/0.8/seadragon-min.js"></script>
}
<div class="container">
    <div class="content">

        <div class="text-center">
            <h1 class="page-header">Phocalstream Camera Sites</h1>
        </div>

        <div id="sites">
            <div class="row">
                @foreach (var site in Model.SiteThumbnails)
                {
                    @Html.Partial("_CollectionThumbnail", site)
                }
            </div>
        </div>

        <hr class="featurette-divider">

        <div id="maptab">
            <div class="row">
                <div class="col-md-6">
                    <div id="mapcontainer">
                        <div id="map">

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="siteList">
                        <h1>Photo Collections</h1>
                        <p>
                            Using the map to the left, select from the available camera sites to view
                            time-lapse photos and information about the site.
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>