@model Phocalstream_Web.Models.ViewModels.TagViewModel

@{
    ViewBag.Title = "TagList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/CSS/Home.css")
@Styles.Render("~/Content/CSS/CollectionThumbnail.css")

<div class="container">
    <div class="content">

        <div class="text-center">
            <h1 class="page-header">Phocalstream Image Tags</h1>
        </div>

        <div id="tags">
            <div class="row">
                @foreach (var tag in Model.TagThumbnails)
                {
                    @Html.Partial("_CollectionThumbnail", tag)
                }
            </div>
        </div>
    </div>
</div>