@model Phocalstream_Shared.Data.Model.Photo.Photo

<!-- Bootstrap Tags Input CSS and JS Files-->
<link href="~/Content/bootstrap-tags/css/bootstrap-tagsinput.css" rel="stylesheet">
<script src="~/Content/bootstrap-tags/js/bootstrap-tagsinput.min.js"></script>

<div style="clear: both;"></div>

<h2>Photo Tags</h2>

<div>
    <!-- Existing tags for the photo -->
    @if (Model.Tags != null)
    {
        <ul>
            @foreach (var tag in Model.Tags)
            {
                <li class="tag label label-primary">@tag.Name</li>
            }
        </ul>
    }

    <!-- Field for new tags -->
    <div style="padding-left: 40px">
        <div class="row">
            <form role="form" class="col-lg-8">
                <div class="form-group">
                    <input id="tag-field" class="col-lg-8" type="text" />
                </div>
            </form>
            <button id="tag-submit" class="btn btn-success col-lg-4">Add Tag</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tag-submit').click(function () {
            var tags = $("#tag-field").val();
            
            $.ajax({
                url: '@Url.Action("AddTag", "Photo")',
                type: 'POST',
                cache: false,
                data: {
                    photoID: @Model.ID,
                    tags: tags
                },
                success: function (data) {
                    $('#tagPartial').html(data);
                },
                error: function (err) {
                    alert(err.responseText);
                }
            });
        });
    });

    $('#tag-field').tagsinput({
        //    tagClass: 'big'
    });
</script>
