@model Phocalstream_Shared.Data.Model.Photo.Photo

<!-- Bootstrap Tags Input CSS and JS Files-->
<link href="~/Content/bootstrap-tags/css/bootstrap-tagsinput.css" rel="stylesheet">
<script src="~/Content/bootstrap-tags/js/bootstrap-tagsinput.min.js"></script>
<script src="~/Content/typeahead/typeahead.bundle.js"></script>

<div style="clear: both;"></div>

<h2>Photo Tags</h2>

<div>
    <!-- Existing tags for the photo -->
    @if (Model.Tags != null)
    {
        <ul>
            @foreach (var tag in Model.Tags)
            {
                <li class="tag label label-primary">@tag.Name</li>
            }
        </ul>
    }

    <!-- Field for new tags -->
    <div style="padding-left: 40px">
        <div class="row">
            <form role="form" class="col-lg-8">
                <div class="form-group">
                    <input id="tag-field" data-rold="tagsinput" class="col-lg-8" type="text" />
                </div>
            </form>
            <button id="tag-submit" class="btn btn-success col-lg-4">Add Tag</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {

        var substringMatcher = function(strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function(i, str) {
                    if (substrRegex.test(str)) {

                        // the typeahead jQuery plugin expects suggestions to a
                        // JavaScript object, refer to typeahead docs for more info
                        matches.push({ value: str });
                    }
                });

                cb(matches);
            };
        };

        $('#tag-field').tagsinput();

        $('#tag-field').tagsinput('input').typeahead({
            minLength: 2,
            highlight: true,
        },
        {
            name: 'states',
            source: substringMatcher(["Ian", "Zach", "Ashu", "Jeremy"])
        });

        $('#tag-submit').click(function () {
            var tags = $("#tag-field").val();
            
            $.ajax({
                url: '@Url.Action("AddTag", "Photo")',
                type: 'POST',
                cache: false,
                data: {
                    photoID: @Model.ID,
                    tags: tags
                },
                success: function (data) {
                    $('#tagPartial').html(data);
                },
                error: function (err) {
                    alert(err.responseText);
                }
            });
        });
    });
</script>
