@{
    ViewBag.Title = "FullResolutionDownload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FullResolutionDownload</h2>

<!--
<ul>
    @foreach(var id in Model.Ids)
    {
        <li>@id.ToString()</li>
    }
</ul>
    -->

<h3>@Model.Ids</h3>