@model Phocalstream_Web.Models.ViewModels.PhotoViewModel
@{
    ViewBag.Title = Model.Photo.Site.Name + " Photo";
}

    @section Styles
    {
        <style type="text/css">
            .value {
                font-size: 10pt;
                padding-left: 5px;
            }

            #table { padding-right: 330px; left: 0px; right: 0px; position: relative;}

    </style>
    }

    @section Scripts 
    {
            <script type="text/javascript" src="/Content/Scripts/Silverlight.js"></script>
            <script type="text/javascript" src="/Content/Scripts/ClientBin.js"></script>
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
            <script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
            <script type="text/javascript" src="http://seadragon.com/ajax/0.8/seadragon-min.js"></script>

            <script type="text/javascript">
                function fullScreen() {
                    viewer.setFullPage(true);
                }
            </script>

        }

<div id="table">
    <div id="imageCell">
        <div id="imageContainer">

        </div>
        <span style="font-size: 8pt;">You can use your mouse to pan and zoom the image or view in <a href="javascript:fullScreen()">fullscreen</a>.</span>
        <script type="text/javascript">
            viewer = new Seadragon.Viewer("imageContainer");
            viewer.clearControls();
            viewer.tracker.clickHandler = function (tracker, position, quick, shift) {
                return;
            };

            viewer.openDzi("@Html.DisplayFor(model => model.ImageUrl)");
        </script>
    </div>
    <div id="siteInfo">
        @Html.Partial("_PhotoInfo", Model)
    </div>
    <div style="clear: both;"></div>
</div>