@model Phocalstream_Web.Models.ViewModels.SiteDashboardViewModel
    @{
        ViewBag.Title = "SiteDashboard";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


<div class="container">
    <div class="content">

        <div class="text-center">
            <h1 class="page-header">@Model.CollectionViewModel.Collection.Name Dashboard</h1>
        </div>


    </div>
</div>