@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="content">
        <div class="error-body text-center well">
            <h2>Unfortunately, an unexpected error has occured.</h2>
            <h4>@Html.ActionLink("Return to the Home Page", "Index", "Home", null, new { @class = "btn btn-info" })</h4>
        </div>
    </div>
</div>
