/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.back {
    margin-top: 100vh;
    background-color: #fff !important;
    z-index: 10;
}

.scroll {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 90vh;
    color: white;
    text-align: center;
    z-index: -20;
}

.carousel-control {
    position: fixed;
    z-index: -20;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 4px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.background {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -100;
}

.carousel {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  top: 50%;
  padding: 0px;
}

.carousel-info {
    border: white 1px solid;
    border-radius: 4px;
    width: 50%;
    min-height: 160px; 
    margin-top: -80px;
}

.btn-bordered {
    border: white 1px solid;
    border-radius: 4px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: #577da1;
}

.carousel-inner { 
    height:100%;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 25px;
}


