
#stage {
    width: 80%;
    min-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
}


#head {
    height: 100px;
    position: relative;
}

#head h1 {
    color: #2f2f2f;
    padding-top: 30px;
    position: relative; 
    left: -10px;
}

.logo {
    width: 110px;
    float: left;
}

a {
    color: #1560d7;
}

a:visited {
    color: #1560d7;
}

img {
    border: none;
}

th {
    text-align: left;
}

#siteInfo h1 {
    font-weight: 100;            
    font-size: 30pt;
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 0px;
}

h2 {
    font-weight: 300
}

#siteInfo h3 {
    font-weight: 300;
    font-size: 16pt;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#imageCell {
    width: 100%;
    min-width: 300px;
    height: 400px;
    position: relative;
    margin-right: 300px;
}

#siteInfo {
    width: 300px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#siteinfo ul {
    margin-top: 20pt;
    list-style: none;
    margin-left: 0px;
    padding-left: 30px;
}

#siteinfo li {
    font-size: 12pt;
}

#imageContainer {
    width: 100%;
    height: 600px;
    background-color: #f6f6f6;
    border: 1px solid #a7a7a7;
}
